@use "popup";

/* Like Chrome, Edge can use up to 800 x 600 px */
html {
    width: 740px; /* 740px + margins + scrollbar width */
    height: 600px;
    margin: 0px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0px;
    box-sizing: border-box;
}
