html {
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 5vh;
    padding-bottom: 10vh;
    margin: 0px;
    box-sizing: border-box;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 2em;
    width: fit-content;
    font-size: medium;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1em 1em;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

#header > img {
    vertical-align: middle;
}

hr {
    margin-bottom: 1em;
    border: 1px solid whitesmoke;
}

legend {
    background-color: white;
    color: black;
    border-style: none;
    text-align: start;
    margin-left: -5em;
}

fieldset {
    /* border: 1px solid grey; */
    border-radius: 5px;
    border-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 5em;
}

#preview {
    font-family: "Courier New", Courier, monospace;
    color: rgb(104, 104, 104);
    margin-left: 2em;
    margin-top: 1em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em;
    padding-left: 1em;
}
